TestUserControl/.vs/
TestUserControl/TestUserControl/x64/
TestUserControl/x64/Debug/TestUserControl.pdb
TestUserControl/x64/Debug/TestUserControl.ilk
TestUserControl/x64/Debug/TestUserControl.exe
TestUserControl/TestUserControl.vcxproj.filters
TestUserControl/TestUserControl.vcxproj.user
